type livedisplay_data_file, data_file_type, file_type;
type sysfs_lcd_writable, sysfs_type, fs_type;
type sysfs_health, sysfs_type, fs_type;
type sysfs_sec_key, sysfs_type, fs_type;

