on early-init
    umount /product

on init
    # Disable vendor overlay
    mount none /vendor/lost+found /vendor/overlay bind

    # ZRAM parameters
    write /proc/sys/vm/page-cluster 0
    write /proc/sys/vm/swappiness 130

    # Vibrator
    chown system system /sys/class/timed_output/vibrator/enable
    chown system system /sys/class/timed_output/vibrator/intensity
    chown system system /sys/class/timed_output/vibrator/force_touch_intensity
    write /sys/class/timed_output/vibrator/force_touch_intensity 10000

# LPM
service lpm /system/bin/lpm
    class sec-charger
    user root
    group system radio input
    critical

on fs
    swapon_all /system/etc/fstab.enableswap

on late-fs
    write /sys/block/sda/queue/iostats 0
    write /sys/block/sda/queue/read_ahead_kb 2048
    write /sys/block/sda/queue/nr_requests 256

on property:sys.boot_completed=1
    write /sys/block/sda/queue/iostats 1
    write /sys/block/sda/queue/read_ahead_kb 256
    write /sys/block/sda/queue/nr_requests 128

service ExynosHWCServiceTW /system/bin/true
    oneshot
    disabled

service vaultkeeper /system/bin/true
    oneshot
    disabled
